body{
    text-align: center;
    margin: 0;
    background: no-repeat fixed ;
    background-size:cover;
    background-image: linear-gradient(141deg, rgba(134,134,134,0.52) 0%, rgba(37,37,37,0.73) 51%,
    rgba(37,37,37,0.73) 75%), url("../imgs/bg.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(46, 192, 192);
}
li {
    float: left;
    border-right:2px solid rgb(26, 22, 22);
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(67, 20, 240);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    height: 25px;
    font-weight:bold ;
}

li a:hover:not(.active) {
    background-color: rgb(219, 216, 25);
}
table{
    font-size: 20px;
    border: 2px solid ;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 12%;
    background-color: whitesmoke;
    
}
/* boss & grduit studint & mangers & supervisor */
.table1{
    margin-left: 27%;
}
.table2,.table3,.table5{
    margin-left:10px;
    margin-right: 10px;
}
.table4{
    margin-left: 40px;
}
.table6{
    margin-left: 42%;
}
.table8{
    margin-left: 10px;
    margin-right: 10px;
}
.tr1,.tr2,.tr3,.tr4,.tr5,.tr6,.tr8{
    background-color: rgb(46, 192, 192);
    color: rgb(168, 28, 28);
    font-size: 25px;
}
#idroom{
    margin-left: 1%;
}
th{
    padding: 5px;
    border: 2px solid ;
    border-collapse: collapse;
    width: 230px;  
    height: 30px;
}
input{
    background-color: yellow;
    border-radius: 30px;
    border: black 2px solid;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 30px;
    width: 130px;
    height: 37px;
    text-align: center;
}
input:hover{
    background-color: tomato;
}

a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
